name: Task 2

on:
  push:
    paths:
      - '02_oop/**'
  pull_request:
    paths:
      - '02_oop/**'
  workflow_dispatch:

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Debug
  PROJECT_DIR: ${{github.workspace}}/02_oop/

jobs:
  build-ubuntu:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
    - name: Install Qt
        uses: jurplel/install-qt-action@v2.14.0
        with:
          version: 5.15.2
          set-env: true
    - name: Configure CMake
      run: cmake -B ${{env.PROJECT_DIR}}/build -S ${{env.PROJECT_DIR}} -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}
    - name: Build
      run: cmake --build ${{env.PROJECT_DIR}}/build --config ${{env.BUILD_TYPE}}
      
  build-windows:
    runs-on: windows-2022
    steps:
    - uses: actions/checkout@v2
    - name: Install Qt
        uses: jurplel/install-qt-action@v2.14.0
        with:
          version: 5.15.2
          set-env: true
    - name: Configure CMake
      run: cmake -B ${{env.PROJECT_DIR}}/build -S ${{env.PROJECT_DIR}} -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}
    - name: Build
      run: cmake --build ${{env.PROJECT_DIR}}/build --config ${{env.BUILD_TYPE}}
